# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/sms_db?schema=public"

# Backend API Configuration
PORT=3001
NODE_ENV="development"
SESSION_SECRET="change-this-to-a-secure-random-64-character-secret-in-production"
SESSION_EXPIRY_DAYS=30

# Redis Configuration (Cache / Sessions / Queues)
REDIS_HOST="localhost"
REDIS_PORT=6379

# Frontend Configuration
NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"
